<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "se.johan.2dv407"
        versionCode="10"
        version   = "1.0.1">

    <gap:platform name="android" />
    <!-- versionCode is optional and Android only -->

    <name>JWapp</name>

    <description>
        Short description
    </description>

    <author href="https://" email="@gmail.com">
        Johan Wibjer
    </author>

</widget>